@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@layer components {
  .node-base {
    @apply w-45 min-h-20 flex flex-col 
           bg-white dark:bg-zinc-800 text-zinc-500 
           dark:text-white
           border-[1.5px] rounded-2xl overflow-hidden
           transition-all duration-200;
  }

  .node-selected {
    @apply border-blue-500 ring-4 ring-blue-500/10 
           shadow-lg scale-[1.02];
  }

  .node-default {
    @apply shadow-sm hover:border-zinc-300 
           hover:shadow-md dark:border-zinc-500;
  }
  .node-success {
    @apply border-emerald-500 ring-4 ring-emerald-500/10;
  }

  .node-error {
    @apply border-red-500 ring-4 ring-red-500/10;
  }

  .node-running {
    @apply border-yellow-400 animate-pulse;
  }
}

.custom-divider {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: col-resize;
  transition: opacity 0.15s;
}

.custom-divider:hover,
.custom-divider.dragging {
  opacity: 0.8;
}

.custom-divider.horizontal {
  width: 8px;
}

.custom-divider.vertical {
  height: 8px;
  cursor: row-resize;
}

.custom-divider::after {
  content: "···";
  color: rgba(255, 255, 255, 0.8);
  font-size: 2px;
  letter-spacing: 1px;
  writing-mode: vertical-rl;
}

.custom-divider.vertical::after {
  writing-mode: horizontal-tb;
}

@keyframes verticalScroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%); /* Scrolls through one full set of original reviews */
  }
}
.animate-vertical-scroll {
  animation: verticalScroll 40s linear infinite; /* Adjusted duration */
}
